{name, "eper"}.
{description, "a set of tools for performance tuning and debugging Erlang code"}.
{homepage, "https://github.com/massemanet/eper"}.
{url, {git, "https://github.com/nox/eper.git", {branch, "script-fixes"}}}.
{authors, ["Mats Cronqvist <masse@cronqvi.st>"]}.
{license, "MIT", "COPYING"}.
{rebar_compatible, true}.
{rebar_commands, ["get-deps", "compile", "escriptize"]}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
{bin_files, ["priv/eper", "priv/bin/eper-dtop", "priv/bin/eper-ntop",
             "priv/bin/eper-redbug"]}.
